<div class="main">
  <div class="article-contents">
    <h1 class="user-posts">
      <%= "#{@user.nickname}さんの投稿"%>
    </h1>
  <%= render partial: "posts/post", collection: @posts %>
    <%= paginate @posts %>  
  </div>
</div>